
body {
    background-image:
    url('../pics/Background.png');
    background-size: 100% auto;
}

header {
    background-color: black;
    margin-bottom: 10px;
    width: 100%;
    height: 8vh;
}

.logo {
    display: flex;
    height: 6vh;
    padding: 5px;
    margin-right: 35vw;
}

.logo:hover {
    height: 20vh;
}

nav ul {
    display: flex;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 2px 40px 2px 70px;
}

nav ul li {
    list-style: none;
}

nav {
    display: flex;
}

ul li a:hover {
    font-size: larger;
}

main {
    height: 81vh;
}

.head {
    display: flex;
    flex-direction: row;
    color: white;
    size: 28px;
    justify-content: center;
    align-items: center;
    height:10vh ;
}

.container {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    margin-top: 5vh;
}

.profile {
    width: 20vw;
    border-radius: 100px;
}

.About {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    float: left;
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    padding: 5px;
}

.About:hover {
    background-color: white;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    height: 6vh;
    width: 100%;
}

footer p {
    margin: auto;
}
