main{
    height: 82vh;
}
body {
    margin: 0;
    background-image: url('../pics/Background.png');
    background-size: 100% auto;
}
.add {
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adjusted padding */
    width: 80vw;
    height: 70vh;
    color: #f0f0f0;
    margin: auto; /* Center the element horizontally */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px; /* Add space below the label */
}

form input[type="text"] {
    margin-bottom: 10px;
    width: 40vw;
}
form input[type="text"][name="question"][name="questionId"][name="quizId"] {
    margin-bottom: 10px;
    width: 70vw;
}
#add {
    background-color: forestgreen;
    color: #f0f0f0;
    width: 15vw;
    border: 2px solid white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}
form input[type="submit"]{
    background-color: forestgreen;
    color: #f0f0f0;
    width: 15vw;
    border: 2px solid white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}
#add:hover {
    background-color: white;
    color: black;
}
