<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the developer</title>
    <link rel="stylesheet" href="../resources/css/aboutstyle.css">
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
</head>

<body>
    <header>
        <div class="bar">
            <nav>
                <div class="logo">
                    <img src="../resources/pics/websiteLogo.png" alt="logo">
                </div>

                <ul>

                    <li><a href="About.html">About</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="head">
            <h1 id="element"></h1>
        </div>

        <div class="container">
            <img src="../resources/pics/profile.png" alt="profile pic" class="profile">
            <p class="About">
                This is the quiz managment system website created by maham, jamaima, Hoor. 
            </p>
        </div>

    </main>
    <footer>
        <p>copywright 2023</p>
    </footer>
  <script>
    var typed = new Typed('#element', {
        strings: ['About me', 'Online Exam preparation', 'Ace exam', 'Enroll courses'],
        typeSpeed: 50,
        loop: Infinity,
    });    
  </script>
</body>

</html>