<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="../resources/js/AdminJs.js"></script>
    <link rel="stylesheet" href="../resources/css/AdminStyle.css">
</head>

<body>
    <header>
        <div class="bar">
            <nav>
                <div class="logo">
                    <img src="../resources/pics/websiteLogo.png" alt="logo">
                </div>

                <ul>
                    <li><a href="Admin.html">Home</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

        <div class="clock">
            <div class="clock-content">
                <h1 class="h" id="element"></h1>
                <div class="cursor"></div>
            </div>
            <div class="clock-time">
                <p class="display"></p>
            </div>
        </div>


        <div class="Student">
            <h1>Student</h1>
            <ul>
                <a href="AddStudent.jsp" target="_blank"><li>Add Student</li></a>
                <a href="DeleteStudent.jsp" target="_blank"><li>Delete Student</li></a>
                <a href="ViewStudent.jsp" target="_blank"><li>View Student</li></a>
            </ul>
        </div>
        <div class="Quiz">
            <h1>Quiz</h1>

            <ul>
                <a href="AddQuiz.jsp" target="_blank"><li>Add Quiz</li></a>
                <a href="DeleteQuiz.jsp" target="_blank"><li>Delete Quiz</li></a>
                <a href="EditQuiz.jsp" target="_blank"><li>Edit Quiz</li></a>
                <a href="ViewQuiz.jsp" target="_blank"><li>View Quiz</li></a>
            </ul>
        </div>
        <div class="Course">
            <h1>Course</h1>
            <ul>
                <a href="AddCourse.jsp" target="_blank"><li>Add Course</li></a>
                <a href="DeleteCourse.jsp" target="_blank"><li>Delete Course</li></a>
                <a href="EditCourse.jsp" target="_blank"><li>Edit Course</li></a>
                <a href="ViewCourse.jsp" target="_blank"><li>View Course</li></a>
            </ul>
        </div>
        <div class="notification">
            <h1>Notification</h1>
            <ul>
                <a href="AddNotification.jsp" target="_blank"><li>Add notification</li></a>
                <a href="DeleteNotification.jsp" target="_blank"><li>Delete notification</li></a>
                <a href="ViewNotification.jsp" target="_blank"><li>View notification</li></a>
            </ul>
        </div>
        <div class="feedback">
            <h1>Feedback</h1>
            <ul>
                <a href="ViewFeedBack.jsp" target="_blank"> <li>View Feedback</li>   </a>

            </ul>
        </div>
        <div class="Question">
            <h1>Question</h1>
            <ul>
                <a href="EditQuestion.jsp" target="_blank"><li>Edit Question</li></a>
                <a href="ViewQuestion.jsp" target="_blank"><li>View Question</li></a>
                <a href="ViewResult.jsp" target="_blank"><li>View Result</li></a>
            </ul>
        </div>
    </main>
    <footer>
        <p>copyright 2023</p>
    </footer>
    <script>
        var typed = new Typed('#element', {
            strings: ['Welcome to QuizWizHub', 'Created by', 'Maham','Hoor','Jamaima'],
            typeSpeed: 50,
            loop: Infinity,
        });
    </script>
</body>

</html>