<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="../resources/css/contactstyle.css">
    <script src="../resources/js/contactjs.js"></script>
</head>
<body>
    <header>
        <div class="bar">
            <nav>
                <div class="logo">
                    <img src="../resources/pics/websiteLogo.png" alt="logo">
                </div>

                <ul>

                    <li><a href="About.html" target="_blank">About</a></li>
                    <li><a href="Contact.html" target="_blank">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="head">
            <h1 id="element"></h1>
        </div>
        <div class="container">

            <div class="one">
                <a href="https://github.com/Maham-Fatima" target="_blank"><img src="../resources/pics/github.png" alt="github logo"
                        class="git"></a>
                <button id="gh">GitHub</button>
            </div>
            <div class="two">
                <a href="https://www.linkedin.com/in/maham-fatima-517a98284/" target="_blank"><img
                        src="../resources/pics/linkedin.png" alt="linkdin logo" class="link"></a>
                <button id="l">LinkDin</button>
            </div>
            <div class="three">
                <a href="mailto:fmaham599@gmail.com" target="_blank"><img src="../resources/pics/Gmail-logo.png" alt="Gmail"
                        class="mail"></a>
                <button id="g">Gmail</button>

            </div>


        </div>
    </main>

    <footer>
        <p>copywright 2023</p>
    </footer>
    <script>
        var typed = new Typed('#element', {
            strings: ['Welcome to QuizWizHub', 'Created by', 'Maham','Hoor','Jamaima'],
            typeSpeed: 50,
            loop: Infinity,
        });
    </script>
</body>

</html>