<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link href="../resources/css/NavBarStyle.css">
    <!-- Add your CSS links or styles here -->
</head>

<body>
<!-- Your page content goes here -->
<header>
    <div class="bar">
        <nav>
            <div class="logo">
                <img src="../resources/pics/websiteLogo.png" alt="logo">
            </div>

            <ul>
                <li><a href="Admin.html" target="_blank">Home</a></li>
                <li><a href="About.html" target="_blank">About</a></li>
                <li><a href="Contact.html" target="_blank">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<footer>
    <p>copywright 2023</p>
</footer>
<script>
    // Your JavaScript code goes here
</script>
</body>

</html>
